<!--begin::Cookie alert-->
<div class="d-flex d-lg-block flex-column bg-dark text-light text-center rounded-0 cookiealert py-5">
    Nós armazenamos dados temporariamente para melhorar a sua experiência de navegação.
    Ao utilizar nossos serviços, você concorda com tal monitoramento.

    <button type="button" class="btn btn-primary d-inline mx-auto ms-lg-5 acceptcookies mt-5 mt-lg-0">
        Ok
    </button>
</div>
<!--end::Cookie alert-->